body {
  background-color: #fff5eb; }

h1 {
  font-family: 'Montserrat',sans-serif;
  color: #42444e;
  border-bottom: 3px solid gray;
  text-transform: uppercase; }

p {
  font-family: 'Orbitron', sans-serif; }
